In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:\\Users\\Eddie\\Downloads\\UNZIP_FOR_NOTEBOOKS_FINAL\\DATA\\Advertising.csv")

In [3]:
X = df.drop('sales', axis = 1)

In [4]:
y = df['sales']

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101 )

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
scaler = StandardScaler()

In [9]:
scaler.fit(X_train)

StandardScaler()

In [10]:
X_train = scaler.transform(X_train)

In [11]:
X_test = scaler.transform(X_test)

In [13]:
from sklearn.linear_model import Ridge

In [14]:
model = Ridge(alpha = 100)

In [15]:
from sklearn.model_selection import cross_val_score

In [17]:
scores = cross_val_score(model, X_train, y_train, scoring = 'neg_mean_squared_error', cv= 5)

In [18]:
scores

array([ -9.32552967,  -4.9449624 , -11.39665242,  -7.0242106 ,
        -8.38562723])

In [20]:
abs(scores.mean())

8.215396464543607

In [21]:
model = Ridge(alpha = 1)

In [22]:
scores = cross_val_score(model, X_train, y_train, scoring = 'neg_mean_squared_error', cv= 5)

In [23]:
abs(scores.mean())

3.344839296530695

In [24]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [25]:
y_final_pred = model.predict(X_test)

In [27]:
from sklearn.metrics import mean_squared_error

In [28]:
MSE = mean_squared_error(y_test, y_final_pred)

In [29]:
MSE

2.3190215794287514

In [30]:
# EXPLORING CROSS-VALIDATE

In [35]:
# Create X and y
X = df.drop('sales', axis=1)
y = df['sales']
#Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101)

#Scale Data
scale = StandardScaler()
scale.fit(X_train)
X_train = scale.transform(X_train)
X_test = scale.transform(X_test)

In [36]:
from sklearn.model_selection import cross_validate

In [37]:
model = Ridge(alpha = 100)

In [38]:
scores = cross_validate(model, X_train, y_train, scoring = ['neg_mean_absolute_error','neg_mean_squared_error'], cv = 10)

In [43]:
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_absolute_error,test_neg_mean_squared_error
0,0.001032,0.001023,-1.810212,-6.060671
1,0.000942,0.000000,-2.541958,-10.627031
2,0.001031,0.001014,-1.469594,-3.993426
3,0.000993,0.000000,-1.862769,-5.009494
4,0.000998,0.001007,-2.520697,-9.141800
5,0.001004,0.000964,-2.459995,-13.086256
6,0.001003,0.001039,-1.451971,-3.839405
7,0.000954,0.000000,-2.377395,-9.058786
8,0.000000,0.001003,-2.443344,-9.055457
9,0.000997,0.000000,-1.899797,-5.778882

In [44]:
scores.mean()

fit_time                        0.000895
score_time                      0.000605
test_neg_mean_absolute_error   -2.083773
test_neg_mean_squared_error    -7.565121
dtype: float64

In [45]:
model = Ridge(alpha = 1)

In [46]:
scores = cross_validate(model, X_train, y_train, scoring = ['neg_mean_absolute_error','neg_mean_squared_error'], cv = 10)

In [47]:
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_absolute_error,test_neg_mean_squared_error
0,0.000964,0.001009,-1.457174,-2.962508
1,0.000992,0.000000,-1.555308,-3.057378
2,0.002010,0.000000,-1.238770,-2.173740
3,0.000991,0.000998,-0.768938,-0.833034
4,0.001000,0.000000,-1.434489,-3.464018
5,0.000000,0.001216,-1.494316,-8.232647
6,0.000784,0.000000,-1.081362,-1.905864
7,0.000000,0.000000,-1.250011,-2.765048
8,0.000000,0.000998,-1.580971,-4.989505
9,0.001001,0.000000,-1.223326,-2.846438

In [48]:
scores.mean()

fit_time                        0.000774
score_time                      0.000422
test_neg_mean_absolute_error   -1.308467
test_neg_mean_squared_error    -3.323018
dtype: float64

In [49]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [50]:
y_final_pred = model.predict(X_test)

In [51]:
MSE = mean_squared_error(y_test, y_final_pred)

In [52]:
MSE

2.3190215794287514